<!DOCTYPE html>
<html>
    <head>
        <title>Voting App</title>
        {{!--bootstrap css--}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        {{!--Jquery--}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        {{!--bootstrap js--}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {{!--custom css--}}
        <link rel="stylesheet" href="/css/style.css"/>
        {{!--Chart.js--}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script>
    </head>
    
    <body>
        <div class="container">
      
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="/">All polls</a></li>
            <li><a href="/polls/create">Create New</a></li>
            <li><a href="/polls/me/{{data.user.email}}">My Polls</a></li>
            <li><a href="/users/signup">Sign up</a></li>
            <li><a href="/users/login">Login</a></li>
          </ul>
        </nav>
        <h3><a class="text-muted logo" href="/">Voting App </a></h3>
      </div>
        
        <div class="row">
          <div class="col-md-12 main">
            {{{body}}} 
          </div>
        </div>

        
      </div>

      <footer class="footer text-center">
        <p>&copy; 2016 Mengjie Yu</p>
      </footer>
    </div> <!-- /container -->
    </body>
</html>