<div class="well text-center pad">
    <div>
    <h1>{{title}}</h1>
    <p class="lead">View all polls down below </p>
    <p>You can view and vote any current polls, you can also <a href="/users/login">Login</a> or <a href="/users/signup">Sign up</a> to create/delete your own polls.</p>
    </div>
    
    <div class="list-group">
    {{#each votes}}
    <a href="/polls/{{this._id}}" class="list-group-item">{{this.pollName}}</a>
    {{/each}}
    </div>
</div>