<div class="well pad">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <form>
              <fieldset class="form-group">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="exampleSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </fieldset>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <button class="btn btn-info btn-block">Share on twitter</button>
            </form>
        </div>
        
        <div class="col-md-4 col-md-offset-2">
            <canvas id="myChart" width="400" height="400"></canvas>
            <button class="btn btn-danger btn-block">Delete</button>
        </div>
    </div>
</div>